@model FamilyTree.Presentation.Models.EditViewModel

<h2>Edit @Model.Name's Details</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <div id ="parents" style="display:none;">
            <p>hi</p>
            @*@Html.Partial("_AddParents", Model)*@
            
            <input id="mother" type="button" value="Add Mother" onclick="addParent()" style="display:none;" />
            <input id="father" type="button" value="Add Mother" onclick="addParent()" style="display:none;" />
            <div id="loadParentPartial">
            </div>
        </div>
         <p>
            <input type="submit" value="Save" />
        </p>
    
}

@section Scripts{
<script>
    $(document).ready(function () {
       

        @*function addMother(){
            $("#loadParentPartial").load("@Url.Action("AddMother", @Model)")
        }
        function addFather(){
            $("#loadParentPartial").load("@Url.Action("AddMother", @Model)")
        }*@ 

        function addParent(){
            $("#loadParentPartial").load("@Url.Action("AddParents", new {id = Model.Id })")
         }
        
        var parentCount = @Html.Raw(Json.Encode(Model.ParentCount));
        var parentGender = @Html.Raw(Json.Encode((string)ViewData["parentGender"]));
        
        if (parentCount < 2) {
            $("#parents").css('display', 'block');
            if (parentGender == "Female") {
                $("#father").css("display", "block");
            }
            else {
                $("#mother").css("display", "block");
            }
        }

        function addParent(){
            $("#loadParentPartial").load("@Url.Action("AddParents", new {id=Model.Id })")
         }
        
        
    });
</script>
    }
