@model FamilyTree.Presentation.Models.EditViewModel

<h2>Edit @Model.Name's Details</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
       
         <p>
            <input type="submit" value="Save" />
        </p>
    
}
<div id="parents" style="display:none;">
    
    <input type="button" id="mother" value="Add Mother" style="display:none;" />
    <input type="button" id="father" value="Add Father" style="display:none;" />
    <div id="loadParentPartial">
    </div>
</div>

@section Scripts{
<script type="text/javascript">
    $(document).ready(function () {

        var parentCount = @Html.Raw(Json.Encode(Model.ParentCount));
        var parentGender = @Html.Raw(Json.Encode((string)ViewData["parentGender"]));

        $("#mother").click(function (){
            $("#loadParentPartial").load("@Url.Action("AddMother", new {id = Model.Id })");
        })

        $("#father").click(function (){
            $("#loadParentPartial").load("@Url.Action("AddFather", new {id = Model.Id })");
        })

        if (parentCount == 1) {
            $("#parents").css('display', 'block');
            if (parentGender == "Female") {
                $("#father").css("display", "block");
            }
            else {
                $("#mother").css("display", "block");
            }
        }

        if (parentCount == 0) {
            $("#parents").css('display', 'block');
            $("#mother").css("display", "block");
            $("#father").css("display", "block");
        }
    });

    @*function addParent() {

        if (parentGender == "Female") {
            $("#loadParentPartial").load("@Url.Action("AddMother", new {id = Model.Id })")
        }
        else {
            $("#loadParentPartial").load("@Url.Action("AddFather", new {id = Model.Id })")
        }
       
    }*@
</script>
    }

