@model FamilyTree.BLL.Models.PersonModel

@{
    int? id = @Model.Id;
    var parentType = (string)ViewData["ParentType"];
}

<div class="tree treesize">
    <ul class="expand">
        <li class="node">
            @if (Model.Id == (int)ViewData["SelectedNode"])
            {

                <p class="selectedNode">@Model.Name <span>(Age: @Model.Age, Gender: @Model.Gender) :</span><br><span>@Model.ParentType</span></p>
                <br />
                @Html.ActionLink("Edit", "Edit", new { controller = "Data", id = Model.Id })
            }
            else
            {
                <p>@Model.Name :<br><span>@Model.ParentType</span></p>
                if (Model.Name != "Unknown")
                {
                    @Html.ActionLink("Edit", "Edit", new { controller = "Data", id = Model.Id })

                }
            }
            <ul>
                @foreach (var parent in Model.Relatives)
                {
                    <li>

                        @Html.Partial("_FamilyTree", parent)

                    </li>
                }
            </ul>
        </li>
    </ul>
</div>

<script>
    
        var modelId = @Html.Raw(Json.Encode(Model.Id));
    var lastDescendantId = @Html.Raw(Json.Encode((int)ViewData["LastDescendantId"]));

    function addClass(el, className) {
        if (el.classList)
            el.classList.add(className)
        else if (!hasClass(el, className)) el.className += " " + className
    }


        if (lastDescendantId == modelId) {
            var listElement = document.getElementsByClassName("node")[0];
            addClass(listElement, "modify");
        }
       
    
</script>


@*
        @if (Model.Id == (int)ViewData["SelectedNode"])
        {

                <p class="selectedNode">@Model.Name <span>(Age: @Model.Age, Gender: @if (Model.Gender == false)
                                                                                    {
                                                                                         <span>Female</span>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                         <span>Male</span>
                                                                                    })
                                                    </span>
                </p>

        }
        else
        {
            @Model.Name
        }



    <ul>
    @foreach (var parent in Model.Relatives)
    {
       <li>
        @Html.Partial("_FamilyTree", parent)
      </li>

    }

    </ul>

    @Scripts.Render("~/bundles/jquery")
    <script>
        $(function () {


        });
    </script>*@


